body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}

.button{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    border-radius: 10px;
    transition: .1s ease;
}
.button:hover{
    background-color: #fff;
}
.button h1{
    width: fit-content;
    height: fit-content;
    margin: 5px 15px 0;
}
.button:hover h1 a{
    color: #101214;
}
.button hr{
    width: calc(100% - 5px);
    height: auto;
    border: 2.5px solid #fff;
    background-color: #fff;
}